<!DOCTYPE html>
<html>
  <head>
    <title>CourseProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag 'headers', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="p-3 mb-3 border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <span href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
          <%= link_to image_tag("logo.png", style: 'height:auto;width:60%;', :class => "bi me-2"), root_path %>
        </span>

        <% if Current.user.nil? %>
          <ul class="nav col-12 col-lg-auto me-lg-auto mt-2 justify-content-center mb-md-0">
            <li><span class="nav-link px-2 link-dark"><%= button_to "Sign Up", sign_up_path, :class => "btn btn-light" %></span></li>
            <li><span class="nav-link px-2 link-dark"><%= button_to "Sign In", sign_in_path, :class => "btn btn-light" %></span></li>
          </ul>
        <% else %>
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><span class="nav-link px-2 link-dark"><%= button_to "New task", new_task_path, method: :get, :class => "btn btn-light" %></span></li>
            <li><span class="nav-link px-2 link-dark"><%= button_to "Log out", logout_path, method: :delete, :class => "btn btn-light" %></span></li>
          </ul>
        <% end %>
      </div>
    </div>
    </header>

    <div>
      <div class="container">
        <% if notice != nil %>
          <p class="alert alert-primary"><%= notice %></p>
        <% end %>
        <% if alert != nil %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
